[submodule "Assets/Submodules/unity-icechest"]
	path = Assets/Submodules/unity-icechest
	url = git@github.com:minism/unity-icechest.git
[submodule "Assets/Submodules/hotel-client-unity"]
	path = Assets/Submodules/hotel-client-unity
	url = git@gitlab.com:minism/hotel-client-unity.git
